
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class=" " style="background: linear-gradient(to bottom right, #004637, #04A7C3);">
    <div class="d-flex flex-row align-center space-between text-white justify-center">
        <div>Tenassist</div>
        <div>
            <img src="{% static 'assets/logowhite.svg'%}" alt="">
        </div>
    </div>
</body>
</html>