
{% load static %}
    <div class="d-flex justify-content-center align-items-center" 
    style="background: linear-gradient(to bottom right, #004637, #04A7C3);">
        <div class="d-flex flex-row p-4 text-white justify-content-center align-items-center">
            <div class="col">
                <img src="{% static 'assets/logowhite.svg'%}" alt="">
            </div>
            <h1 class="col">Tenassist</h1>
        </div>
        <div>
            <h1 class="">COPYRIGHT 2024. TENASSIST. ALL RIGHTS RESERVED.</h1>
        </div>
    </div>